<?xml version="1.0"?>
<config>
    <modules>
        <David_Dev18cap6>
            <version>1.0.0</version>
        </David_Dev18cap6>
    </modules>
    <global>
        <blocks>
            <david_dev18cap6>
                <class>David_Dev18cap6_Block</class>
            </david_dev18cap6>
        </blocks>

        <helpers>
            <david_dev18cap6>
                <class>David_Dev18cap6_Helper</class>
            </david_dev18cap6>
        </helpers>

        <models>
            <david_dev18cap6>
                <class>David_Dev18cap6_Model</class>
                <resourceModel>dev18cap6_resource</resourceModel>
            </david_dev18cap6>
            <dev18cap6_resource>
                <class>David_Dev18cap6_Model_Resource</class>
            </dev18cap6_resource>
        </models>

        <resources>
            <dev18cap6_setup>
                <setup>
                    <module>David_Dev18cap6</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dev18cap6_setup>
            <dev18cap6_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dev18cap6_write>
            <dev18cap6_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dev18cap6_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <daviddev18cap6>
                <use>standard</use>
                <args>
                    <module>David_Dev18cap6</module>
                    <frontName>daviddev18cap6</frontName>
                </args>
            </daviddev18cap6>
        </routers>
    </frontend>
</config>