<?xml version="1.0"?>
<config>
    <modules>
        <David_Dev18cap5>
            <version>1.0.0</version>
        </David_Dev18cap5>
    </modules>
    <global>
        <blocks>
            <david_dev18cap5>
                <class>David_Dev18cap5_Block</class>
            </david_dev18cap5>
        </blocks>
        <helpers>
            <david_dev18cap5>
                <class>David_Dev18cap5_Helper</class>
            </david_dev18cap5>
        </helpers>
        <models>
            <david_dev18cap5>
                <class>David_Dev18cap5_Model</class>
            </david_dev18cap5>
        </models>
    </global>
    <frontend>
        <routers>
            <daviddev18cap5>
                <use>standard</use>
                <args>
                    <module>David_Dev18cap5</module>
                    <frontName>daviddev18cap5</frontName>
                </args>
            </daviddev18cap5>
        </routers>
    </frontend>
</config>