<?xml version="1.0"?>
<config>
    <modules>
        <Jose_Helloworld>
            <version>1.0.0</version>
        </Jose_Helloworld>
    </modules>
    <global>
        <blocks>
            <helloworld>
                <class>Jose_Helloworld_Block</class>
            </helloworld>
        </blocks>
        <helpers>
            <helloworld>
                <class>Jose_Helloworld_Helper</class>
            </helloworld>
        </helpers>
        <models>
            <helloworld>
                <class>Jose_Helloworld_Model</class>
                <resourceModel>helloworld_resource</resourceModel>
            </helloworld>
            <helloworld_resource>
                <class>Jose_Helloworld_Model_Resource</class>
            </helloworld_resource>
            <catalog>
                <rewrite>
                    <product>Jose_Helloworld_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
        </models>
        <resources>
            <helloworld_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </helloworld_write>
            <helloworld_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </helloworld_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>Jose_Helloworld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>hellopepe2.xml</file>
                </helloworld>
            </updates>
        </layout>
    </frontend>
</config>