<?xml version="1.0"?>

<config>
    <modules>
        <Pepe_Nofrills>
            <version>0.1.0</version>
        </Pepe_Nofrills>
    </modules>
    <global>
        <blocks>
            <pepe_nofrills>
             <class>Pepe_Nofrills_Block</class>
            </pepe_nofrills>
        </blocks>
    </global>
    <frontend>
        <routers>
            <Pepe_NoFrills_initial>
                <use>standard</use>
                <args>
                    <module>Pepe_Nofrills</module>
                    <frontName>pepe-nofrills</frontName>
                </args>
            </Pepe_NoFrills_initial>
        </routers>

    </frontend>
</config>